:root {
    --gray: #434343;
    --border-gray: #dfe1e5;
    --line-gray: #e4e4e4;
    --light-gray: #f2f2f2;
    --button-text: #5F6368;
    --shadow-gray: #cfcfcf;
    --text-dark-gray: #222;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: arial,sans-serif;

}

#google {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#google header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 17px;
    font-size: 0.9rem;
}

#google header nav ul {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

#google header nav ul li {
    margin-right: 22px;
}

#google header nav ul li a {
    color: var(--gray);
}

#google header nav ul li a:hover {
    color: #000;
}

#google header nav ul li:last-child {
    margin-right: 0;
}

#google header nav ul li img {
    border-radius: 100%;
    width: 35px;
    cursor: pointer;
}

#google header nav ul li i {
    font-size: 1.3rem;
}

#google main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#google main .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#google main .content img {
    width: 300px;
    margin-bottom: 30px;
}

#google main .content input {
    border-radius: 50px;
    width: 650px;
    height: 50px;
    margin-bottom: 30px;
    border: 1px solid var(--border-gray);
}

#google main .content input:hover {
    border: none;
    box-shadow: 1px 1px 3px 3px var(--shadow-gray);
}

#google main .content .buttons-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 323px;
    margin-bottom: 30px;
}

#google main .content .buttons-row button {
    width: 155px;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    color: var(--button-text);
}

#google main .content .buttons-row button:hover {
    border: 1px solid var(--shadow-gray);
    box-shadow: 0px 0px 1px 1px var(--light-gray);
}

#google main .content p {
    color: var(--text-dark-gray);
    font-size: 0.9rem;
}

#google main .content p a:hover {
    text-decoration: underline;
}

#google footer {
    width: 100%;
    background-color: var(--light-gray);
}

#google footer div {
    border-bottom: 1px solid var(--line-gray);
}

#google footer div span {
    margin-left: 30px;
    color: var(--button-text);
}

#google footer menu {
    justify-content: space-between;
    margin: 0 30px;
}

#google footer menu ul {
    display: flex;
}

#google footer div, menu {
    display: flex;
    height: 45px;
    align-items: center;
}

#google footer menu ul li {
    margin-right: 30px;
}

#google footer menu ul li:last-child {
    margin-right: 0;
}

#google footer menu ul li a  {
    color: var(--button-text);
}